<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="form">
    <mat-form-field fxFlex appearance="outline">
        <!-- <mat-label>CPF</mat-label> -->
            <input matInput placeholder="CPF">
    </mat-form-field>
    
    <mat-form-field fxFlex appearance="outline">
        <!-- <mat-label>Nome</mat-label> -->
            <input matInput placeholder="Nome">
    </mat-form-field>
    
    <mat-form-field fxFlex appearance="outline">
        <!-- <mat-label>Endereço</mat-label> -->
            <input matInput placeholder="Endereço">
    </mat-form-field>
    
</div>

