
<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch">
	<div fxFlex="70" fxFlex.xs fxLayout="row" fxLayout.xs="column" flexLayoutAlign="center center" class="bg-blue">
        <div fxLayout="row" fxLayout.xs="column" fxFlex class="container-home">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.xs="center stretch" class="up-div">
                <div>
                    <img src="assets/images/logo_bemol.png" alt="" id="logo-bemol">
                </div>
                <div class="txt-home">
                    <p>
                        Lucas ipsum dolor sit amet obi-wan ventress darth leia palpatine twi'lek jango darth mon luke. Luke calamari vader fisto jabba skywalker yoda. Leia skywalker hutt jango moff biggs darth hoth jabba. Skywalker darth solo jinn binks thrawn dooku zabrak calamari.
                    </p>
                    <p>
                        Moff darth hutt moff solo palpatine alderaan antilles. Fisto antilles owen mandalore palpatine jinn mara. Cade solo alderaan solo vader skywalker bothan maul. Biggs calamari.
                    </p>
                </div>
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" >
                <div class="form-customer">
                    <app-form-customer></app-form-customer>
                </div>
            </div>
        </div>
	</div>
	<div fxFlex fxHide.xs fxLayoutAlign="start center" class="bottom-div">
	</div>
</div>
